body{
    margin: 0;
    background-color: rgb(145, 255, 218);
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
}

.genius{
    display: grid;
    grid-template-areas: 
        'verde vermelho'
        'amarelo azul';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: black;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.4;
}